/* Gaya untuk elemen input */
.input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Gaya untuk elemen input saat di-hover */
.input:hover {
    border-color: #007bff;
}

/* Gaya untuk elemen input saat fokus */
.input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
